body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #00B7FF;
}

#canvas {
  margin-top: 25px;
  z-index: 10;
}

/* Montior and Larger */
@media screen and (min-width: 1800px) {
  canvas {
    margin-top: 100px;
  }
}

/* Large Smartphone (Vertical) */
@media screen and (max-width: 500px) {
  canvas {
    width: 100%;
    height: 700px;
    margin-top: 50px;
  }
}

.game-over-container{
  background: #727272;
  width: 300px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
}
.game-over-container button{
  background: #49afa2;
  padding: 5px;
  font-size: 20px;
  border-radius: 8px;
  border-color: #a1a1a1;
}